body > header {
  text-align: center;
  @include header-sizes(175px, 'banner.jpg');

  @media only screen and (max-width: 768px) {
    @include header-sizes(150px, 'banner_med.jpg');
  }

  @media only screen and (max-width: 550px) {
    @include header-sizes(125px, 'banner_small.jpg');
  }

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }  
}
