.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
}
.axis#xAxis path{
  display: none;
  font-size: 14px;
  font-weight: bolder;
}

.axis#xAxis text{
  font-weight: bolder;
}

.bar{
  fill: teal;
}

.bar:hover{
  fill:brown;
}

text.barText{
  fill: black;
  font: 13px sans-serif;
  text-anchor: middle;
}